h1.ui.center.header {
  padding: 2em 0em;
}

.ui.segment.clicked.incorrect {
  background-color: red;
}

.ui.segment.clicked.correct {
  background-color: green;
}

.ui.progress .bar {
  background-color: green;
}
